* {
    color: black;
}

html {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    color: black;
}

body {
    font-size: 2rem;
    text-align: left;
}

header,
h4,
h3 {
    text-align: center;
}

img {
    max-width: 50%;
}
.colorImg {
    display: none;
}
main {
    font-size: 1.6rem;
}

nav {
    display: none;
}

.reviewsTable {
    width: 100%;
}
.reviewsTable th {
    padding: 0.5rem;
}
.reviewsTable td {
    border: 1px solid black;
    padding: 0.4rem;
    margin: 0;
}
